
{% extends 'base.html' %}
{% load static %}
{% block title %} Chat Room {% endblock title %}
{% block content %}

    <div class="container">
        <h1 class="display-5 fw-bold text-white py-3">Welcome <u id="uname"></u>, You can start chat here!!!</h1>
        <div id="outer-canvas">
            <textarea id="chat-log" cols="100" row="20" disabled></textarea>
        </div>
        <input type="text" id="chat-message-input" size="100" onkeydown="enableButton()">
        <input type="button" id="chat-message-submit" class="btn btn-outline-light" value="Send">
        {{ room_name|json_script:"room-name" }}
        {{ username|json_script:"user-name" }}
    </div>





    <script>
        window.onload = function(){
            document.querySelector('#uname').innerHTML = USER[0].toUpperCase()+USER.substring(1);
        }

        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const canvasArea = document.querySelector('#chat-log');

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        // EXTRA
        const USER = localStorage['username'];
        let current = new Date();
        let cDate = current.getFullYear() + '-' + (current.getMonth() + 1) + '-' + current.getDate();
        let cTime = current.getHours() + ":" + current.getMinutes()
        let dateTime = cDate + ' ' + cTime;
        // END

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(e.data);
            canvasArea.value += (`${USER[0].toUpperCase()}${USER.substring(1)}@${dateTime}` + ' : ' + data.message + ' ' + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
            canvasArea.scrollTop = canvasArea.scrollHeight - canvasArea.clientHeight;
        };

        function enableButton(){
            var chatMessageBox = document.querySelector('#chat-message-input');
            var chatMessageButton = document.querySelector("#chat-message-submit");
            if(chatMessageBox.value === ''){
                chatMessageButton.disabled = true;
            } else {
                chatMessageButton.disabled = false;
            }
        }
    </script>

{% endblock content %}